.gt-twitter-card{
    display: flex;
    align-items: center;
}

.gt-follow-card{
    display: flex;
    margin-top: 20px;
}

.gt-twitter-labbel{
    opacity: 40%;
}


.gt-twitter-button{
    padding: 8px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bolder;
    transition: all 200ms ease-in-out;
}

.gt-twitter-info{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

.gt-img-card {
    border-radius: 120px;
    width: 50px;
    height: 50px;
}

.gt-twitter-button-follow{
      padding: 8px 20px;
  margin-left: 20px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bolder;
  width: 150px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  border: none;
}

.gt-twitter-button-follow:hover{
    background-color: #1DA1F2;
    color: white;
    transition: .3s ease background-color;
}


.gt-twitter-button-following.is-following {
    cursor: pointer;
    transition: .3s ease background-color;
    padding: 8px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    width: 150px;
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    font-weight: bolder;
}

.gt-twitter-button-following.is-following:hover .gt-twitter-button-stopfollow{
    display: block;
}

.gt-twitter-button-following.is-following:hover{
    background-color: rgba(242, 78, 78, 0.23);
    color: white;
    color: red;
    border: 1px solid red;
    transition: .3s ease background-color;
} 

.gt-twitter-button-following.is-following:hover .gt-followCard-text {
    display: none;
}

.gt-followCard-text{display: block;}

.gt-twitter-button-stopfollow{
    display: none;
}